:host {
  margin: auto 0;
}

.chat-name-getter-container {
  margin-top: -30px;
  width: 400px;

  mat-card-content, mat-card-actions {
    margin: 0 15px;
  }

  .start-chatting {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 0.35fr;
    grid-gap: 10px;
  }
}
