:host {
  margin: auto 0;

  ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
    flex-direction: column;
    align-items: normal;
  }
}

.chat-container {
  width: 700px;
  margin: 20px;

  mat-card-content, mat-card-actions {
    margin: 0 15px;
  }

  mat-card-content {
    overflow: auto;
  }

  .chat {
    min-height: 400px;
    max-height: 400px;

    .messages {
      .message {
        width: 80%;
        color: #424242;
        flex-direction: column;
        background: #f8fcff;
        border-radius: 5px;
        margin: 5px 0;
        padding: 5px;

        &__header {
          color: #262626;
          display: flex;
          justify-content: space-between;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }

  .send-message {
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    grid-gap: 10px;
  }
}
