<mat-card class="chat-container">
  <mat-card-header>
    <mat-card-title>Chat</mat-card-title>
  </mat-card-header>
  <mat-card-content class="chat">
    <mat-list role="messages" class="messages">
      <mat-list-item role="message" class="message" *ngFor="let message of messages">
        <div class="message__header">
          <span class="username">Username</span>
          <span class="date">12:12</span>
        </div>
        <div class="message__body">
          {{ message.text }}
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <form class="send-message" [formGroup]="message">
      <input type="text" formControlName="text" />
      <button mat-flat-button color="primary" (click)="sendMessage($event)">Send</button>
    </form>
  </mat-card-actions>
</mat-card>
